<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>local.afternoonwork</string>
	<key>ProgramArguments</key>
	<array>
		<string>osascript</string>
		<string>-e</string>
		<string>tell script "Discipline" to block_me("14:00","18:00", 300)</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/local.afternoonwork.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/local.afternoonwork.stdout</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>14</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
